
/** blog-details-content **/

.blog-details-content{
  position: relative;
  display: block;
}

.blog-details-content .upper-image .image{
  position: relative;
  display: block;
  border-radius: 10px;
}

.blog-details-content .upper-image .image img{
  width: 100%;
  border-radius: 10px;
}

.blog-details-content .upper-image .post-date{
  position: absolute;
  bottom: -33px;
  right: 40px;
  display: flex;
  width: 70px;
  height: 70px;
  line-height: 70px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.14);
}

.blog-details-content .upper-image .post-date h2{
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 18px;
  color: #fff;
  font-weight: 600;
  margin: 0px;
}

.blog-details-content .upper-image .post-date h2 span{
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 2px;
}

.blog-details-content .post-info{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 19px;
}

.blog-details-content .post-info li{
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  line-height: 27px;
  color: var(--title-color);
}

.blog-details-content .post-info li:last-child{
  margin: 0px !important;
}

.blog-details-content .post-info li span{
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}

.blog-details-content .post-info .author{
  padding-left: 36px;
}

.blog-details-content .post-info .author img{
  position: absolute;
  left: 0px;
  top: 0px;
}

.blog-details-content h2{
  display: block;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 14px;
}

.blog-details-content .text-box p{
  margin-bottom: 26px;
}

.blog-details-content .text-box p:last-child{
  margin-bottom: 0px;
}

.blog-details-content blockquote{
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 36px 40px 40px 40px;
  border-top: solid;
  border-width: 4px;
  margin: 0px 0px 55px 0px;
}

.blog-details-content blockquote p{
  font-size: 24px;
  line-height: 32px;
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 10px;
}

.blog-details-content blockquote .author-box{
  position: relative;
  padding: 8px 0px 8px 85px;
  box-shadow: none;
}

.blog-details-content blockquote .author-box .image{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.blog-details-content blockquote .author-box .image img{
  width: 100%;
  border-radius: 50%;
}

.blog-details-content blockquote .author-box h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 0px;
}

.blog-details-content blockquote .author-box .designation{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

.blog-details-content .video-inner{
  position: relative;
  display: block;
  width: 100%;
  padding: 195px 0px;
  border-radius: 10px;
  overflow: hidden;
}

.blog-details-content .text-box h3{
  display: block;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 20px;
}

.blog-details-content .post-share-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-details-content .post-share-option ul{
  position: relative;
  display: flex;
  align-items: center;
}

.blog-details-content .post-share-option h5{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.blog-details-content .post-share-option .post-tags li{
  margin-right: 10px;
}

.blog-details-content .post-share-option .post-tags li:last-child,
.blog-details-content .post-share-option .social-links li:last-child{
  margin: 0px !important;
}

.blog-details-content .post-share-option .social-links li{
  margin-right: 20px;
}

.blog-details-content .post-share-option .post-tags li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--title-font);
  color: var(--text-color);
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.10);
  border-radius: 55px;
  padding: 3px 14px;
}

.blog-details-content .post-share-option .post-tags li a:hover{
  color: #fff;
}

.blog-details-content .post-share-option .social-links li a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  color: var(--text-color);
}

.blog-details-content .post-share-option .social-links li a:hover{

}

.blog-details-content .author-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.06);
  padding: 41px 70px 37px 190px;
}

.blog-details-content .author-box .image-box{
  position: absolute;
  left: 40px;
  top: 40px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.blog-details-content .author-box .image-box img{
  width: 100%;
  border-radius: 50%;
}

.blog-details-content .author-box h3{
  display: block;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 0px;
}

.blog-details-content .author-box .designation{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 18px;
}

.blog-details-content .comment-form-box h3{
  position: relative;
  display: block;
  font-size: 28px;
  line-height: 38px;
  margin-bottom: 20px;
}

.blog-details-content .comment-form-box .form-inner .form-group{
  position: relative;
  margin-bottom: 30px;
}

.blog-details-content .comment-form-box .form-inner .form-group:last-child{
  margin-bottom: 0px;
}

.blog-details-content .comment-form-box .form-inner .form-group input[type='text'],
.blog-details-content .comment-form-box .form-inner .form-group input[type='email'],
.blog-details-content .comment-form-box .form-inner .form-group textarea{
  position: relative;
  display: block;
  width: 100%;
  height: 50px;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 55px;
  font-size: 14px;
  color: var(--text-color);
  padding: 10px 20px;
  transition: all 500ms ease;
}

.blog-details-content .comment-form-box .form-inner .form-group input:focus,
.blog-details-content .comment-form-box .form-inner .form-group textarea:focus{

}

.blog-details-content .comment-form-box .form-inner .form-group textarea{
  height: 170px;
  resize: none;
  padding-top: 15px;
  border-radius: 10px;
}









































