
/** events-details **/

.events-details{
  position: relative;
  padding: 120px 0px 210px 0px;
}

.event-details-content{
  position: relative;
  display: block;
}

.event-details-content .image-box{
  position: relative;
  display: block;
  border-radius: 10px;
}

.event-details-content .image-box img{
  width: 100%;
  border-radius: 10px;
}

.event-details-content .info-list li{
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 30px;
  padding-left: 28px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
}

.event-details-content .info-list li:last-child{
  margin-right: 0px !important;
}

.event-details-content .info-list li i{
  position: absolute;
  left: 0px;
  top: 4px;
  font-size: 18px;
}

.event-details-content h2{
  position: relative;
  display: block;
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 18px;
}

.event-details-content p{
  margin-bottom: 26px;
}

.event-details-content h3{
  display: block;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 24px;
}

.events-sidebar{
  position: relative;
  display: block;
}

.events-sidebar .title-text{
  display: block;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 25px;
}

.events-sidebar .single-speaker{
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.events-sidebar .single-speaker:last-child{
  margin-bottom: 0px;
}

.events-sidebar .single-speaker .image-box{
  position: relative;
  display: inline-block;
  border-radius: 50%;
  border: 7.5px solid #fff;
  box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.events-sidebar .single-speaker .image-box img{
  width: 100%;
  border-radius: 50%;
}

.events-sidebar .single-speaker h3{
  display: block;
  font-size: 24px;
  line-height: 30px;
}

.events-sidebar .single-speaker .designation{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
}

































