
/** page-title **/

.page-title{
  position: relative;
  padding: 235px 0px 115px 0px;
}

.page-title .bg-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.page-title .bg-layer:before{
  position: absolute;
  content: '';
  background: linear-gradient(102.73deg, #37AA67 0.76%, #08349E 99.64%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  opacity: 0.7;
}

.page-title h2{
  position: relative;
  display: block;
  font-size: 64px;
  line-height: 70px;
  color: #fff;
  margin-bottom: 10px;
}

.page-title .pattern-layer{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 426px;
  height: 460px;
  background-repeat: no-repeat;
}

.page-title .bread-crumb{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title .bread-crumb li{
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-right: 8px;
}

.page-title .bread-crumb li:last-child{
  margin: 0px !important;
}

.page-title .bread-crumb li a{
  position: relative;
  display: inline-block;
  color: #fff;
}

.page-title .bread-crumb li a:hover{
  text-decoration: underline;
}

































