
/** team-section **/

.team-section{
  position: relative;
}

.team-block-one .inner-box{
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.team-block-one .inner-box .image-box{
  position: relative;
  display: block;
  overflow: hidden;
}

.team-block-one .inner-box .image-box .image{
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.team-block-one .inner-box .image-box .image img{
  width: 100%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out 0.1s;
}

.team-block-one .inner-box:hover .image-box .image img{
  transform: scale(1.05);
  opacity: 0.8;
}

.team-block-one .inner-box .image-box .social-links{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0,0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 500ms ease;
}

.team-block-one .inner-box:hover .image-box .social-links{
  transform: translate(-50%,-50%) scale(1,1);
}

.team-block-one .inner-box .image-box .social-links li{
  margin: 0px 5px;
}

.team-block-one .inner-box .image-box .social-links li a{
  position: relative;
  display: inline-block;
  width: 46px;
  height: 46px;
  line-height: 48px;
  background: #fff;
  color: var(--title-color);
  font-size: 18px;
  text-align: center;
  border-radius: 50%;
}

.team-block-one .inner-box .image-box .social-links li a:hover{
  color: #fff;
}

.team-block-one .inner-box .lower-content{
  position: relative;
  display: block;
  padding-top: 21px;
}

.team-block-one .inner-box .lower-content h3{
  display: block;
  font-size: 28px;
  line-height: 36px;
}

.team-block-one .inner-box .lower-content h3 a{
  display: inline-block;
  color: var(--title-color);
}

.team-block-one .inner-box .lower-content h3 a:hover{

}

.team-block-one .inner-box .lower-content .designation{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 22px;
}

.team-section .bg-layer{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 514px;
  height: 767px;
  opacity: 0.1;
  background-repeat: no-repeat;
}

.team-section .pattern-layer{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 861px;
  height: 1002px;
  background-repeat: no-repeat;
}

.team-section .pattern-layer-2{
  position: absolute;
  left: -82px;
  top: 0px;
  width: 331px;
  height: 343px;
  background-repeat: no-repeat;
}


/** team-style-two **/

.team-style-two{
  position: relative;
}

.team-style-two .team-block-one .inner-box .image-box .image,
.team-style-two .team-block-one .inner-box .image-box .image img{
  border-radius: 50%;
}

.team-style-two .pattern-layer{
  position: absolute;
  left: -82px;
  top: 0px;
  width: 331px;
  height: 343px;
  background-repeat: no-repeat;
}
































