
/** testimonial-section **/

.testimonial-section{
  position: relative;
}

.testimonial-section .owl-carousel .owl-stage-outer{
  overflow: visible;
}

.testimonial-section .owl-carousel .owl-stage-outer .owl-item{
  opacity: 0;
  visibility: hidden;
}

.testimonial-section .owl-carousel .owl-stage-outer .owl-item.active{
  opacity: 1;
  visibility: visible;
}

.testimonial-block-one{
  margin-top: 34px;
}

.testimonial-block-one .inner-box{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  box-shadow: 10px 0px 100px 0px rgba(0, 0, 0, 0.08);
  padding: 63px 50px 40px 50px;
}

.testimonial-block-one .inner-box .icon-box{
  position: absolute;
  display: inline-block;
  left: 50px;
  top: -34px;
  width: 63px;
  height: 70px;
}

.testimonial-block-one .inner-box .icon-box .icon{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #fff;
  text-align: center;
  width: 63px;
  height: 70px;
  line-height: 70px;
}

.testimonial-block-one .inner-box .icon-box .r-hex:first-child .r-hex-inner:before{
  transition: all 500ms ease;
}

.testimonial-block-one .inner-box .icon-box .r-hex{
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.testimonial-block-one .inner-box p{
  margin-bottom: 22px;
}

.testimonial-block-one .inner-box .lower-box{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.testimonial-block-one .inner-box .author-box{
  position: relative;
  display: block;
  padding: 9px 0px 9px 80px;
}

.testimonial-block-one .inner-box .author-box .thumb-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.testimonial-block-one .inner-box .author-box h3{
  display: block;
  font-size: 28px;
  line-height: 28px;
  margin-bottom: 2px;
}

.testimonial-block-one .inner-box .author-box .designation{
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
}

.testimonial-block-one .inner-box .rating{
  position: relative;
  display: flex;
  align-items: center;
}

.testimonial-block-one .inner-box .rating li{
  font-size: 16px;
  color: #FFC93D;
  margin-right: 5px;
}

.testimonial-block-one .inner-box .rating li:last-child{
  margin: 0px !important;
}

.testimonial-section .dots-style-one .owl-dots{
  position: relative;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.testimonial-section .bg-box{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.testimonial-section .bg-box .bg-layer{
  opacity: 0.5;
}

.testimonial-section .bg-box:before{
  position: absolute;
  content: '';
  background: linear-gradient(-90deg, #37AA67 0.76%, #08349E 99.64%);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  mix-blend-mode: multiply;
  z-index: 1;
}

.testimonial-section.light-section .dots-style-one .owl-dots .owl-dot{
  background: rgba(255, 255, 255, 0.30);
  border-color: rgba(255, 255, 255, 0.30);
}

.testimonial-section.light-section .dots-style-one .owl-dots .owl-dot.active,
.testimonial-section.light-section .dots-style-one .owl-dots .owl-dot:hover{
  background: #fff;
}

.testimonial-page-section .testimonial-block-one .inner-box{
  margin-bottom: 30px;
}











































